.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 12px;
  background: #fff;
  transition-duration: 0.3s;
  min-width: 300px;

  p {
    margin: 0 0 16px 0;
    font-size: 16px;
    font-weight: 500;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

}

